---

- name: Delete Instance
  azure_rm_virtualmachine:
    resource_group: "{{ azure_resource_group_name }}"
    name: "vm-{{ azure_prefix | lower }}-{{ item.name | lower }}"
    state: absent
  async: 7200
  poll: 0
  register: undeploy
  loop: "{{ nodes }}"
  when: nodes is defined

- name: Wait for instance deletion to complete
  async_status: jid="{{ item.ansible_job_id }}"
  register: instances
  until: instances.finished
  retries: "{{ instance_wait_retry_limit }}"
  delay: 10
  loop: "{{ undeploy.results }}"

- name: Delete virtual network inteface card
  azure_rm_networkinterface:
    resource_group: "{{ azure_resource_group_name }}"
    name: "ni_{{ azure_prefix }}{{ item.name }}"
    state: absent
  loop: "{{ nodes }}"
  when: nodes is defined

- name: Delete public IP address
  azure_rm_publicipaddress:
    resource_group: "{{ azure_resource_group_name }}"
    name: "ip_{{ azure_prefix }}{{ item.name }}"
    state: absent
  loop: "{{ nodes }}"
  when: nodes is defined

- name: Delete Network Security Group
  azure_rm_securitygroup:
    resource_group: "{{ azure_resource_group_name }}"
    name: "{{ azure_security_group_name }}"
    state: absent

- name: Delete subnet
  azure_rm_subnet:
    resource_group: "{{ azure_resource_group_name }}"
    name: "{{ azure_subnet_name }}"
    virtual_network: "{{ azure_virtual_network_name }}"
    state: absent

- name: Delete virtual network
  azure_rm_virtualnetwork:
    resource_group: "{{ azure_resource_group_name }}"
    name: "{{ azure_virtual_network_name }}"
    state: absent

- name: Delete availability set
  azure_rm_availabilityset:
    name: "{{ azure_availability_set }}"
    location: "{{ azure_location }}"
    resource_group: "{{ azure_resource_group_name }}"
    set: absent
  when: use_availability_set|bool

- name: Delete resource group
  azure_rm_resourcegroup:
    name: "{{ azure_resource_group_name }}"
    location: "{{ azure_location }}"
    state: absent
  register: task_result
  until: task_result is succeeded
  retries: 10
  delay: 5
